* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: linear-gradient(to bottom right, #f5f9ff, #e6eef7);
  color: #222222;
  line-height: 2.0;
}

/* Header & Nav */
header {
  background: #003366;
  padding: 8px;
  text-align: center;
}

header nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

header nav a {
  color: #f5f5f5;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

header nav a:hover {
  background: #00bcd4;
  color: #ffffff;
}

/* Hide hamburger by default */
.topnav .icon {
  display: none;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #00bcd4;
  color: #ffffff;
}

.topnav a.active {
  background-color: #00bcd4;
  color: #ffffff;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #afafaf;
  color: #003366;
}

/* Section Containers */
.container {
  background: #ffffff;
  border: 1px solid #ccd6e6;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
}

/* About Section */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.image img {
  width: 100%;
  height: 470px;
  text-align: center;
  border-radius: 12px;
}

.about {
  padding: 0 20px;
  text-align: justify;
}

/* Education & Experience section & skills */
.edu, .exp {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 15px;
  margin-bottom: 18px;
  align-items: start;
}


.edu-right, .exp-right {
  text-align: right;
  color: #666666;
  font-style: italic;
}

.exp-details, .skills-list {
  margin-left: 25px;
}

/* Projects & Blogs Cards */
#projects, #blogs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

#projects head, #blogs head {
  text-align: left;
  font-weight: bold;
}

.project, .blog {
  margin: 1.5%;
  padding: 15px;
  background: #f9fbff;
  border: 1px solid #ccd6e6;
  border-radius: 8px;
  text-align: center;
}

.project img, .blog img {
  width: 100%;
  height: 150px;
  border-radius: 6px;
}

.project h2, .blog h2 {
  font-size: 18px;
  margin: 8px 0;
  color: #003366;
}

.project p, .blog p {
  font-size: 14px;
  margin-bottom: 12px;
}

.project a, .blog a {
  display: inline-block;
  padding: 6px 12px;
  background-color: #003366;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
}

.project a:hover, .blog a:hover {
  background-color: #e67e22;
}

/* Footer */
footer {
  background-color: #003366;
  color: #eeeeee;
  padding: 20px 5%;
  font-size: 14px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.footer-right h3 {
  display: inline;
  margin-right: 10px;
}

.footer-right a {
  margin-left: 8px;
}

.footer-right a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #00bcd4;
  padding: 6px;
  vertical-align: middle;
}

.footer-right a img:hover {
  background: #ff9800;
}

/* Responsive Menu for screens < 500px */
@media screen and (max-width: 500px) {
  .topnav {
    display: block;   /* disable grid at small screens */
  }

  .topnav a:not(:first-child) { 
    display: none; 
  }

  .topnav a.icon {
    float: right;
    display: block;
    background: #003366;
    color: #fff;        
  }

  .topnav.responsive {
    display: block;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background: #003366; 
    color: #fff;         
    border-bottom: 1px solid #00bcd4;
  }

  .topnav.responsive a:hover {
    background: #00bcd4;
    color: #fff;
  }

  /* About section*/
  #about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image img {
    height: auto;
    max-height: 300px;
  }

  /* Projects & Blogs: stack in 1 column */
  #projects, #blogs {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  /* Education & Experience*/
  .edu, .exp {
    grid-template-columns: 3fr 1fr;
    text-align: left;
  }

  .edu-right, .exp-right {
    text-align: right;
    margin-top: 5px;
  }

  /* Footer*/
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
  }

}
